.app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.app .contentBar {
  display: flex;
  flex-direction: row;
}

.app .contentBar #right {
  border: 1px solid black;
  flex-grow: 1;
}

.app .contentBar #left {
  border: 1px solid black;
  flex-grow: 3;
}
