.setTable {
  border: 1px solid #b3b3b3;
  width: 25em;
  margin-top: 2.75em;
  display: grid;
  grid-auto-rows: 1fr;
}

.setTable > h3 {
  font-size: x-large;
  font-weight: lighter;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  padding-left: 0.5em;
}

.setTable > button,
.setTable > input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  background-color: white;
  border-top: 1px solid #b3b3b3;
  font-size: medium;
}

.setTable > button:hover,
.setTable > button:focus {
  background-color: #e2e2e2;
}

.setTable > input {
  padding-left: 1em;
  color: #b3b3b3;
}

.setTable > .changedNotes {
  color: black;
}

.editWorkoutButton > button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  background-color: inherit;
  border-top: 1px solid #b3b3b3;
  width: 100%;
  height: 100%;
  font-size: medium;
}

.editWorkoutButton > button:hover,
.editWorkoutButton > button:focus {
  background-color: #e2e2e2;
}

.deleteButtons > button:hover,
.deleteButtons > button:focus {
  background-color: #e2e2e2;
}

.deleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.deleteButtons > button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: white;
  border: none;
  border-top: 1px solid #b3b3b3;
  font-size: inherit;
}

.deleteButtons > .confirmDeleteButton {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-right: 1px solid #b3b3b3;
}

.addingRep {
  border-top: 1px solid #b3b3b3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addingRep > input,
.addingRep > label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.addingRep > input {
  font-size: x-large;
  padding-right: 0.5em;
  border: none;
  width: 20%;
  text-align: right;
}

.addingRep > label {
  font-size: x-large;
  width: 15%;
  border-right: 1px solid #b3b3b3;
}

.addingRep > button {
  padding-top: 1.33rem;
  padding-bottom: 1.34rem;
  border: none;
  width: 15%;
  border-right: 1px solid #b3b3b3;
  background-color: white;
}

.addingRep > button:hover,
.addingRep > button:focus {
  background-color: #e2e2e2;
}

.addingRep > button > img {
  height: 1em;
}

.addingRep > .cancelButton {
  border-right: none;
}

.repRow {
  border-top: 1px solid #b3b3b3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.repRow > input,
.repRow > label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.repRow > input {
  font-size: x-large;
  padding-right: 0.5em;
  border: none;
  width: 25%;
  text-align: right;
}

.repRow > label {
  font-size: x-large;
  width: 17.5%;
  border-right: 1px solid #b3b3b3;
}

.repRow > button {
  padding-top: 1.33rem;
  padding-bottom: 1.34rem;
  border: none;
  width: 15%;
  border-right: 1px solid #b3b3b3;
  background-color: white;
}

.repRow > button:hover,
.repRow > button:focus {
  background-color: #e2e2e2;
}

.repRow > button > img {
  height: 1em;
}

.repRow > .cancelButton {
  border-right: none;
}
