.editWorkout {
  text-align: center;
}

.editWorkoutHeader > h1 {
  padding-top: 0.5em;
  font-weight: lighter;
}

.editWorkoutHeader > hr {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.editWorkout > button {
  margin-top: 2.75rem;
  width: 25rem;
  border: 1px solid #b3b3b3;
  background-color: white;
  font-size: medium;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: left;
  margin-bottom: 2.75rem;
}

.editWorkout > button > p {
  margin-left: 1em;
}

.editWorkout > button:hover,
.editWorkout > button:focus {
  background-color: #e2e2e2;
}

.editWorkout > .returnButton {
  background-color: #e2e2e2;
  font-size: large;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.editWorkout > .returnButton:hover, .editWorkout > .returnButton:focus {
  background: #cce5ff;
}

.addWeekForm {
  margin-top: 2.75rem;
  display: grid;
  grid-auto-rows: 1fr;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.addWeekForm > input {
  font-size: x-large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #b3b3b3;
  text-align: center;
  padding-left: 0.5em;
  color: #b3b3b3;
}

.addWeekForm > .changedInput {
  color: black;
}

.addWeekForm > button {
  background-color: white;
  border: 1px solid #b3b3b3;
  border-top: none;
  font-size: medium;
}

.addWeekForm > button:hover, .addWeekForm > button:focus {
  background-color: #e2e2e2;
}