.editWorkout {
    text-align: center;
}

.editWorkoutHeader > h1 {
    font-weight: lighter;
}

.editWorkoutHeader > hr {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

.editWorkout > button {
  margin-top: 2.75rem;
  width: 25rem;
  border: 1px solid #b3b3b3;
  background-color: white;
  font-size: medium;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: left;
  margin-bottom: 2.75rem;
}

.editWorkout > button > p {
  margin-left: 1em;
}

.editWorkout > button:hover,
.editWorkout > button:focus {
  background-color: #e2e2e2;
}