.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.mainbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #cce5ff;
  border-bottom: 1px solid #b3b3b3;
  height: 7em;
}

.mainbar > button {
  border: none;
  background-color: inherit;
  font-size: xx-large;
  margin-right: 3rem;
  color: rgb(71, 71, 71);
  background-color: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mainbar > button:hover,
.mainbar > button:focus {
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.hamburgerMenu {
  background-color: white;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  font-size: x-large;
  width: 40%;
}

.hamburgerMenu ul {
  list-style: none;
}

.hamburgerMenu > ul > li {
  border-bottom: 1px solid #b3b3b3;
  padding: 1em;
}

.hamburgerMenu > ul > li:hover {
  background-color: #e2e2e2;
}